<html>
    <body>
        <form method="post", action="/credores/cadastrar">
            CNPJ: <input type="text" name="cnpj">
            Nome: <input type="text" name="nome"><br>
            Nome do Contato: <input type="text" name="nomecontato">
            E-mail: <input type="text" name="email"><br>
            Telefone: <input type="text" name="telefone"><br>
            WhatsApp: <input type="text" name="whatsapp">
            <input type="submit" value="Cadastrar">
        </form>
    </body>
</html>